<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
Header set Cache-Control "max-age=0, private, no-cache, no-store, must-revalidate"